body { 
    margin: 0px;
    width: 100%;
    height: 100%;
}

/*navigation*/
.nav-bar ul {
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-family: "Rochester";
    font-size: 36px;
    border-bottom: solid #9BBBF9;
}

/*navigation bullets*/
.nav-bar li {
    list-style-type: none;
}

.nav-bar .left-logo {
   display: flex;
}

/*navigation links*/
.nav-bar a {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    text-decoration: none;
    color: black;
}

/*general hover*/
a:hover {
    color: #9BBBF9;
}

.nav-bar .right-logo {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
}

.nav-bar input[type=search] { 
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 25px;
    font-family: "Rochester";
    border: none;
    cursor: auto;
    letter-spacing: 1px;
}

.dropbtn {
    border: none;
    font-family: "Rochester";
    font-size: 36px;
    margin-top: 15px;
}

.dropbtn:hover {
    color: #9BBBF9;
}

/*drop options holder*/
.drop-content {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*drop option links*/
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*drop options on hover*/
.drop-content a:hover {
    background-color: #9BBBF9;
}

.dropdown:hover .drop-content{
    display: block;
}
   
.logo {
    position: absolute;
    top: 0px;
    left: 570px;
    margin-top: -50px;
    padding-top: 0px; 
}

/*added*/
.logo img {
    width: 320px;
}

/*heading*/
h2.header{
    font-family: "Rochester";
    font-size: 40px; /*changed this along with nav bar removed 'blog' after explore*/
    margin-left: 15px;
    margin-top: 50px;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    /* background-color: #9BBBF9; */
    letter-spacing: 1px;
    margin-bottom: 5px;
}

div.content {
    width: 100vw;
    height: 100vh;
}

/*about*/
div.content p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px!important;
    font-weight: 300;
    letter-spacing: none!important;

    margin-bottom: 0px;
    margin-top: 5px!important;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
   
footer {
    background-color: #F1F1F1;
    color: black;
    text-align: center;
    padding: 10px;
    border-top: #9BBBF9 solid;
    border-bottom: #9BBBF9 solid;
}

footer p {
    font-family: "Rochester";
    font-size: 20px;
    letter-spacing: 0px;
}
